_*
*~
*.beam
_build
_deps
.depsolver_plt
ebin
.erlang.cookie
erl_crash.dump
.eunit
log
logs
.netrwhist
*.plt
_plugins
priv/
.rebar
.rebar3
_rel
rel/sys.config
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
*.swo
*.swp
_tdeps
*.un~
