{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{sub_dirs, ["apps/*", "rel"]}.
{deps, [
    {procket, ".*", {git, "git://github.com/msantos/procket.git", {tag,"0.6.1"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.1.1"}}}
    ]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
