{sub_dirs, ["apps/*", "rel"]}.
{deps, [
    {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.2.4"}}},
    {procket, ".*", {git, "https://github.com/msantos/procket.git", {tag,"0.6.1"}}}
    ]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
